extends ../components/base/layout

block variables
  - const title = "Frauenärztliche Praxis Larisa Anokhina" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "impressum.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    h1.visually-hidden Impressum nach §&nbsp;6 Teledienstgesetz
    +impressum()
