mixin about-us()
  section.about-us
    .container
      h2.about-us__title Fachärztin für Frauenheilkunde und Geburtshilfe
      +picture("img", "anokhina", "jpeg", "518", "500", "Larisa Anokhina")
      p.about-us__text Herzlich Willkommen in meiner Praxis
      p.about-us__text Bitte nicht vergessen:
      ul.about-us__list
        li.about-us__item Ihre Krankenversicherungskarte (GKV-Chipkarte)
        li.about-us__item ggf. Überweisungsschein
        li.about-us__item Ihren Regelkalender
        li.about-us__item Ihren Mutterpass
        li.about-us__item Ihren Impfpass
