mixin achievements()
  section.achievements
    .container
      h2.achievements__title Ginäkologie
      ul.achievements__list
        li.achievements__item Krebsvorsorge
        li.achievements__item Ultraschalluntersuchung der Gebärmutter / Eierstöcke
        li.achievements__item Ultraschalluntersuchung der Brust
        li.achievements__item Empfängnisverhütung (auch neue Methoden wie Kupferkette, Jaydess, Behandlung mit EllaOne)
        li.achievements__item Beratung und Therapie bei Kinderwunsch (Künstliche Befruchtung mit dem Samen des Partners — Insemination)
        li.achievements__item Nachsorge nach Karzinom einschließlich DMP
        li.achievements__item Diagnostik und Behandlung von Hormonstörungen
        li.achievements__item Kinder und Jugendsprechstunde
        li.achievements__item Therapie von Wechseljahrbeschwerden
        li.achievements__item Beratung und Therapie bei Blasenschwäche und Senkungsbeschwerden
        li.achievements__item Psychosomatische Grundversorgung
        li.achievements__item Impfberatung und Impfungen
      h2.achievements__title Schwangerschaft
      ul.achievements__list
        li.achievements__item Beratung und Betreuung von Schwangerschaften und Risiko-Schwangerschaften nach aktuellen, neuesten medizinischen Standards
        li.achievements__item erweitertes Organscreening
        li.achievements__item Doppler-Ultraschall
        li.achievements__item Zusatzuntersuchungen auf Diabetes
        li.achievements__item Ersttrimesterscreening (IGel)
        li.achievements__item Überprüfung des Infektionsschutzes vor und während der Schwangerschaft (z.B. Röteln, Toxoplasmose, Streptokokken...)
      h2.achievements__title Individuelle Gesundheitsleistungen
      ul.achievements__list
        li.achievements__item Krebsvorsorge Plus
        li.achievements__item Ultraschalluntersuchung der Gebärmutter, Eierstöcke, Blase, intraabdominale Flüssigkeit
        li.achievements__item Ultraschalluntersuchung der Brust und Achselhöhle
        li.achievements__item Dünnschichtzytologie (verbesserter Zellabstrich)
        li.achievements__item Screening auf Human-Papillome-Viren (HPV)
        li.achievements__item Hormonbestimmungen im Klimakterium
        li.achievements__item Überprüfung des Infektionsschutzes vor und während einer Schwangerschaft (z.B. Röteln, Toxoplasmose, Streptokokken...)
        li.achievements__item Ultraschalluntersuchungen auf Wunsch der werdenden Eltern
        li.achievements__item 3D / 4D Ultraschall
        li.achievements__item Ersttrimesterscreening (Nackentransparenz)
        li.achievements__item Jugendsprechstunde, mit  Vorsorge, Empfängnisverhütung und Sexualität , Pille danach
        li.achievements__item Allgemeine gynäkologische Sprechstunde (Familienplanung, Bauchschmerzen, Infektionen, Tumore)
        li.achievements__item Vorsorgesprechstunde (Krebsvorsorge)
        li.achievements__item Mutterschaftsvorsorge
        li.achievements__item Impfungen nach den Stiko Empfehlungen und darüber hinaus für Jugendliche und ältere Menschen
        li.achievements__item Babyfernsehen
        li.achievements__item Spezielle Diagnostik in der Frühschwangerschaft
        li.achievements__item Mammasonografie
        li.achievements__item Spezielle Diagnostik in der fortgeschrittenen Schwangerschaft, Organultraschall
        li.achievements__item Hormonsprechstunde
        li.achievements__item Risikoschwangerschaftsbetreuung
