mixin contact()
  section.contact
    .container
      h2.contact__title Kontakt
      p.contact__text
        a.contact__link(href="tel:+072147008137") Tel: 0721-4700 8137
        a.contact__link(href="fax:+072146723773") Fax: 0721 / 4672 3773
      h3.contact__subtitle Unsere Postadresse
      p.contact__text Frauenärztliche Praxis<br> Larisa Anokhina<br> Fachärztin für Frauenheilkunde und Geburtshilfe<br> Praxisklinik für gynäkologische Operationen<br> Kriegsstr. 216<br> 76135 Karlsruhe<br>
      p.contact__text
        a.contact__link (href="mailto:info@frauenaerztin-anokhina.de") Email: info@frauenaerztin-anokhina.de
      h3.contact__subtitle Notdienst
      p.contact__text Für eigene Patientinnen besteht für die Nachsorge eine Rufbereitschaft unter der Handynummer
      a.contact__link(href="tel:+017680213516") 0176-80213516.
