mixin duty()
  section.duty
    .container
      h2.duty__title Kontakt
      p.duty__text Sehr geehrte Patientin, sehr geehrter Patient,
      p.duty__text an dieser Stelle möchten wir Ihnen einige notwendige Angaben zu unserem Berufsstand und zur Berufsordnung machen.
      p.duty__text Frau Larisa Anokhina ist laut gesetzlicher Berufsbezeichnung Fachärztin für Frauenheilkunde und Geburtshilfe. Diese Berufsbezeichnung wurde Frau Anokhina am 15. Oktober 2008 durch die Bezirksärztekammer Nordbaden der Landesärztekammer Baden-Württemberg verliehen(Körperschaft des Öffentlichen Rechts).
      p.duty__text Die zuständige Aufsichtsbehörde ist die Bezirksärztekammer Nordbaden. Informationen über die Behörde erhalten Sie unter dem Link
        a(href="https://www.aerztekammer-bw.de/")www.laek-bw.de.
      p.duty__text Angaben zur für uns geltenden Berufsordnung und allen weiteren gesetzlichen Bestimmungen hinsichtlich unseres ärztlichen Verhaltens erhalten Sie
        a(href="https://www.aerztekammer-bw.de/10aerzte/40merkblaetter/20recht/05kammerrecht/index.html") hier.
      p.duty__text Die zuständige kassenärztliche Vereinigung ist die KV Baden-Württemberg, Keßlerstraße 1, 76185 Karlsruhe.
      p.duty__text HINWEIS: Für den Inhalt externer Internetseiten sind die jeweiligen Betreiber verantwortlich.
