mixin impressum()
  section.impressum
    .container
      h2.impressum__title Frau Larisa Anokhina
      h3.impressum__subtitle Fachärztin für Frauenheilkunde und Geburtshilfe
      p.impressum__text Kriegsstr. 216, 76135 Karlsruhe
      p.impressum__text
        a(href="tel:+072147008137") Tel: 0721-4700 8137
      p.impressum__text
        a(href="fax:+072146723773") Fax: 0721 / 4672 3773
      h2.impressum__title Rechtliche Hinweise
      h3.impressum__subtitle Copyright
      p.impressum__text Larisa Anokhina, Kriegsstraße 216, 76135 Karlsruhe,
        a(href="tel:+072147008137") Tel: 0721-4700 8137
      p.impressum__text Alle Inhalte dieser Website unterliegen dem Urheberrecht (Copyright). Alle Rechte vorbehalten, alle Angaben ohne Gewähr, Änderungen vorbehalten.
      p.impressum__text Die Verwendung von Bild- und Textmaterial ist nur mit schriftlicher Genehmigung des Site-Inhabers zulässig.
      h3.impressum__subtitle Haftungshinweise
      p.impressum__text Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Anbieter keine Haftung für den Inhalt externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich! Diese Erklärung gilt für alle auf dieser Homepage angebrachten Links und Banner. Der Inhalt dieser Seiten ist ausschließlich zu Informationszwecken bestimmt. Er darf und kann nicht für die Erstellung eigenständiger Diagnosen oder für die Auswahl und Anwendung von Behandlungsmethoden verwendet werden. Bitte suchen Sie bei Gesundheitsproblemen immer einen Arzt ihres Vertrauens auf.
