mixin philosophy()
  section.philosophy
    .container
      h2.philosophy__title Praxisphilosophie
      p.philosophy__text Liebe Patientinnen!
      p.philosophy__text Mit dieser Homepage möchten wir Ihnen die Möglichkeit geben, sich über uns und unsere Arbeit zu informieren. Ob Sie Fragen zur Vorsorge oder Verhütung haben, eine Beratung zur Familienplanung wünschen oder Probleme in der Menopause haben - wir sind für Sie da.
      p.philosophy__text Außerdem begleiten wir Sie bei jedem Schritt Ihrer Schwangerschaft.
      p.philosophy__text Es erwarten Sie:
        ul.philosophy__list
          li.philosophy__item ein motiviertes, Patientinnen orientiertes Praxisteam,
          li.philosophy__item eine kompetente ärztliche Ansprechpartnerin.
      p.philosophy__text Wir freuen uns auf Ihren Besuch.
