mixin practice()
  section.practice
    .container
      h2.practice__title Praxis
      p.practice__text In unserer Praxis werden seit vielen Jahren mit großem Einsatz und medizinischem Know-how der Gesamtbereich der Frauenheilkunde abgedeckt.
      p.practice__text Sämtliche Lebensabschnitte der Frau werden von uns kompetent betreut. Die Empfängnisverhütung (neue Methoden wie Gyne-Fix Spirale, Behandlung mit EllaOne), die Sexualität, der Kinderwunsch, die Schwangerschaft, die Behandlung von gutartigen und bösartigen Erkrankungen und die Betreuung der Frau in den Wechseljahren und natürlich auch im höherem Alter (auch im Altenheim) gehören zum Leistungsspektrum unserer Praxis.
      p.practice__text Als Kassenärztin kann ich Ihnen alle unten genannten Leistungen im Wege des Sachleistungssystems über Ihre Krankenversicherungskarte anbieten. Daneben bietet meine Praxis natürlich auch Leistungen, die nicht von den gesetzlichen oder auch privaten Krankenkassen getragen werden, wie zum Beispiel Behandlungen in Zusammenhang mit Kinderwunsch bei Frauen, die älter sind als 40 Jahre.
      p.practice__text Durch die ganzheitliche Ausrichtung meiner Praxis ist eine ganzheitliche Betreuung unserer Patientinnen möglich. In allen Lebenslagen können sich unsere Patientinnen auf Ihre vertraute Frauenärztin verlassen  und müssen sich nicht in eine in der Regel anonymere Behandlung eines externen Labors oder einer externen Klinik begeben.
