mixin qualification()
  section.qualification
    .container
      h2.qualification__title Meine Vita
      table.qualification__table
        tr
          td 1993–1995
          td Ausbildung zum Facharzt für Gynäkologie und Geburtshilfe an der Medizinischen Universität Chabarowsk, Russland
        tr
          td 1995–2001
          td Fachärztin für Frauenheilkunde und Geburtshilfe im Kreiskrankenhaus Birobidshan, Russland
        tr
          td Juli 2001
          td Einreise in die Bundesrepublik Deutschland
        tr
          td 2002–2003
          td Anerkennungsjahr in der Frauenklinik Diakonissenkrankenhaus Karlsruhe
        tr
          td 2004
          td Gleichwertigkeitsprüfung Universität Tübingen
        tr
          td 2004–2010
          td Frauenklinik Kreiskrankenhaus Rastatt, Assistenzärztin
        tr
          td Seit 2008
          td Fachärztin für Frauenheilkunde und Geburtshilfe in Deutschland
        tr
          td Nov. 2010
          td Niederlassung als Frauenärztin in Karlsruhe
      h2.qualification__title Fortbildung
      table.qualification__table
        tr
          td 2001
          td Einweisung in den neuen EBM, Bonn
        tr
          td 2002
          td Pharmakologie, Fachseminar in Königswinter
        tr
          td 2003
          td
            ul
              li Ultraschalldiagnostik, Grundkurs in Heidelberg
              li Vorbereitungskurs auf die Gleichwertigkeitsprüfung für Ärzte, Dresden
              li Strahlenschutz in der Diagnostik mit Röntgenstrahlen, Karlsruhe
        tr
          td 2006
          td Feldafinger Mammasonographie Grundkurs
        tr
          td 2010
          td Mammasonographie Aufbaukurs, Universität Tübingen
        tr
          td 2011
          td
            ul
              li Psychosomatische Grundversorgung
              li Dopplersonographie in der Geburtshilfe (Grund-, Aufbau,- Abschlusskurs)
              li Fehlbildungsultraschall nach KV-Richtlinien
              li Zweiter Schwangerschaftsultraschall, aktuelle Mutterschaftsrichtlinien
              li Mammosonographie (Aufbau-, Abschlusskurs)
              li 3D / 4D Ultraschall-Basiskurs
              li NT-Messung
              li Hysteroskopische Sterilisation
              li Symposium:gynäkologische Endokrinologie
              li Gynäko-infektologisches Seminar
        tr
          td 2012
          td
            ul
              li Intensivkurs der Deutschen Gesellschaft für Andrologie
              li Qualifikation zur fachgebundenen genetischen Beratung
              li FMF-Deutschland zertifizierter Ersttrimester-Screeningkurs
              li Intensivkurs Gyn. Endokrinologie
              li DMP-Brustkrebs,Psychoonkologie
        tr
          td 2013
          td
            ul
              li Entwicklungen Antikonzeption,insbesondere Gynefix
              li Hygiene in der Arztpraxis
              li Gynäkologisch-Endokrinologische Repititorien
              li Initiative Mädchen-Sprechstunde
              li 3D /4D Ultraschall, Refresherkurs
              li DMP-Brustkrebs, Psychoonkologie
              li Notfallsimulationsseminar Arztpraxis
        tr
          td 2014
          td
            ul
              li Internationaler Congress Frauenheilkunde in Dialog
              li Zertifizierung: Jaydess-Einlage
              li Zertifizierung: Mammasonographie
              li Zertifizierung: Dopplersonographie in der Geburtshilfe
              li erweitertes Organscreening in der 2. Trimeron
