mixin route()
  section.route
    .container
      h2.route__title Anfahrt
      p.route__text Im Hof ist eine kostenlose Tiefgarage. Den Patientinnen stehen 3 Plätze zu Verfügung. Sie finden unsere ausgeschilderten Parkplätze im Untergeschoß ganz hinten an der rechten Seite
      a.route__link(href="http://maps.google.de/maps?f=q&source=s_q&hl=de&geocode=&q=Kriegsstr.+216+76135+Karlsruhe&sll=49.000943,8.364029&sspn=0.150007,0.296288&ie=UTF8&z=16&iwloc=A") Anfahrtstrecke in Routenplaner errechnen
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2617.2586576561857!2d8.381250915679598!3d49.00566387930224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479706f61b17e333%3A0x55bcf18c2b7ab07b!2sKriegsstra%C3%9Fe%20216%2C%2076135%20Karlsruhe!5e0!3m2!1sde!2sde!4v1623875075825!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")
