mixin team()
  section.team
    .container
      h2.team__title Praxisteam
      +picture("img", "team", "jpeg", "500", "289", "team")
      ul.team__list
        li.team__item Katharina Stab, MFA
        li.team__item Larisa Anokhina Frauenärztin
        li.team__item Nadja Jeske, MFA
      p.team__text In meiner Praxis erwartet Sie ein gut eingespieltes und qualifiziertes Team, das sich auf Ihren Besuch freut. Ihre Sorgen und Probleme können Sie uns gerne anvertrauen. Wir bemühen uns Ihnen schnellstmöglichst und bestens zu helfen. Rufen Sie uns einfach an und überzeugen Sie sich selbst!
