mixin time()
  section.time
    .container
      h2.time__title Öffnungszeiten
      h3.time__subtitle Sprechstunden
        table.time__table
          tr
            th Montag
            th Dienstag
            th Mittwoch
            th Donnerstag
            th Freitag
          tr
            th 8:00 – 10:30<br> Offene Sprechstunde<br> 10:30 – 12:00<br> Bestellsprechstunde
            th 8:00 – 12:00
            th 8:00 – 12:00
            th 8:00 – 12:00
            th 8:00 – 12:00
          tr
            th 15:00 – 18:00
            th 14:00 – 17:00
            th
            th 15:00 – 18:00
            th
      h3.time__subtitle Telefonische Sprechstunden
        table.time__table
          tr
            th Montag
            th Dienstag
            th Mittwoch
            th Donnerstag
            th Freitag
          tr
            th 12:00 – 12:30
            th 12:00 – 14:00
            th 11:30 – 12:00
            th 12:00 – 12:30
            th 12:00 – 12:30
          tr
            th 17:30 – 18:00
            th
            th
            th 17:30 – 18:00
            th
