mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      ul.footer__list
        li.footer__item Larisa Anokhina
        li.footer__item Fachärztin für Frauenheilkunde und Geburtshilfe
        li.footer__item Kriegsstrasse 216, 76135 Karlsruhe
        li.footer__item
          a.footer__link(href="tel:+072147008137") Tel: 0721-4700 8137
